# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Authentication
NEXTAUTH_SECRET=your_secure_secret_here
NEXTAUTH_URL=http://localhost:3000

# MongoDB Database
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority || mongodb://localhost:27017/<database_name>

# Email Configuration (Gmail)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_specific_password

# Hardware Device Configuration
HARDWARE_API_KEY=your_secure_api_key_here
HARDWARE_DEVICE_INTERVAL=5000 # Interval in milliseconds for device data sending
MAX_BATCH_SIZE=50 # Maximum number of attendance records to process in one batch

# GitHub OAuth Configuration
GITHUB_ID=your_github_client_ID
GITHUB_SECRET=your_github_client_ID

# Google OAuth Configuration 
GOOGLE_ID=your_google_client_ID
GOOGLE_SECRET=your_google_client_ID
